<footer class="pageFooter">
	<div class="topFooter">
		<div class="wrapper">
			<div class="socialMedia-list">
				<ul class="lineList">
					<li class="text">OLX nas redes sociais</li>
					<li><a href="/" title="OLX - facebook"><i class="ico-facebook"></i></a></li>
					<li><a href="/" title="OLX - youtube"><i class="ico-youtube"></i></a></li>
					<li><a href="/" title="OLX - google plus"><i class="ico-gplus"></i></a></li>
					<li><a href="/" title="OLX - twitter"><i class="ico-twitter"></i></a></li>
					<li><a href="/" title="OLX - instagram"><i class="ico-instagram"></i></a></li>
				</ul>
			</div>
			<div class="mobileApp-list">
				<ul class="lineList">
					<li class="text">Baixe nosso app</li>
					<li><a href="/" title="OLX - Apple Store"><i class="ico-apple"></i></a></li>
					<li><a href="/" title="OLX - Play Store"><i class="ico-android"></i></a></li>
				</ul>
			</div>
			<div class="userOptions">
				<ul>
					<li><a href="/" title="Anunciar">Anunciar</a></li>
					<li><a href="/" title="Comprar">Comprar</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="mainFooter"> 
		<div class="wrapper">
			<div class="footerLinks">
				<div class="olxCol footerItem toggle">
					<h3>A OLX <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="/" title="Quem Somos">Quem Somos</a></li>
							<li><a href="/" title="OLX em números">OLX em números</a></li>
							<li><a href="/" title="Marketing">Marketing</a></li>
							<li><a href="/" title="Responsabilidade Social">Responsabilidade Social</a></li>
							<li><a href="/" title="Novidades OLX">Novidades OLX</a></li>
							<li><a href="/" title="Sustentabilidade">Sustentabilidade</a></li>
							<li><a href="/" title="Trabalhe na OLX">Trabalhe na OLX</a></li>
							<li><a href="/" title="Desapega!">Desapega!</a></li>
						</ul>
					</div>
				</div>
				<div class="announceCol footerItem toggle">
					<h3>Anuncie <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="/" title="Geral sobre o Marketplace">Geral sobre o Marketplace</a></li>
							<li><a href="/" title="Como vender">Como vender</a></li>
							<li><a href="/" title="Como comprar">Como comprar</a></li>
							<li><a href="/" title="Anúncios pagos">Anúncios pagos</a></li>
						</ul>
					</div>
				</div>
				<div class="businessCol footerItem toggle">
					<h3>Para seu negócio <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="/" title="Venda de carros">Venda de carros</a></li>
							<li><a href="/" title="Venda de imóveis">Venda de imóveis</a></li>
							<li><a href="/" title="Inteligência de dados">Inteligência de dados</a></li>
							<li><a href="/" title="Pesquisas com consumidor">Pesquisas com consumidor</a></li>
							<li><a href="/" title="Publicidade">Publicidade</a></li>							
						</ul>
					</div>
				</div>
				<div class="contactCol footerItem toggle">
					<h3>Entre em contato <i class="ico-arrow"></i></h3>
					<div class="itemContent">
						<ul>
							<li><a href="/" title="Central de atendimento">Central de atendimento</a></li>
							<li><a href="/" title="Viciados em OLX">Viciados em OLX</a></li>
							<li><a href="/" title="Sala de imprensa">Sala de imprensa</a></li>
							<li><a href="/" title="Infográficos">Infográficos</a></li>
							<li><a href="/" title="Patrocínios">Patrocínios</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottomFooter">
		<div class="footerFaq">
			<div class="wrapper">
				<ul>
					<li><a href="/" title="Regras">Regras</a></li>
					<li><a href="/" title="Termos de uso">Termos de uso</a></li>
					<li><a href="/" title="Termos de uso do chat">Termos de uso do chat</a></li>
					<li><a href="/" title="Política de privacidade">Política de privacidade</a></li>
					<li><a href="/" title="Produtos e Serviços Proibidos na OLX">Produtos e Serviços Proibidos na OLX</a></li>
					<li><a href="/" title="Proteção à Propriedade Intelectual">Proteção à Propriedade Intelectual</a></li>
				</ul>
			</div>
		</div>
		<div class="copyright">
			<div class="wrapper">
				<span>© Bom Negócio Atividades de Internet Ltda. </span>
				<address>Rua Professor Álvaro Rodrigues, 352 - 8º andar - Botafogo - CEP 22.280-040 - Rio de Janeiro / RJ</address>
			</div>
		</div>
	</div>
</footer>    

	
	
	
	
	