<header class="pageHeader">
    <div class="wrapper">
        <div class="menu-mobile-toggle">
            <i class="ico-menu"></i>
        </div>
        <div class="logo">
            <a href="/" title="OLX - Landing page" class="logoImg"><img src="../assets//build/arquivos/logo-olx.png" alt="Desapega, desapenga, OLX"></a>
        </div>
        <div class="mainMenu">
            <div class="navOverlay"></div>
            <nav class="pageNav">
            	<div class="navHead">
            		<span>Menu</span>
            		<div class="ico-close"></div>
            	</div>
                <ul>
                    <li><a href="/" title="Tudo sobre a OLX">Tudo sobre a OLX</a></li>
                    <li><a href="/" title="Para Você">Para Você</a></li>
                    <li><a href="/" title="Para o seu Negócio">Para o seu Negócio</a></li>
                    <li><a href="/" title="Trabalhe na OLX">Trabalhe na OLX</a></li>
                    <li><a href="/" title="Ajuda">Ajuda</a></li>
                </ul>
            </nav>
        </div>
        <div class="userOptions">
            <ul>
                <li><a href="/" title="Anunciar">Anunciar</a></li>
                <li><a href="/" title="Comprar">Comprar</a></li>
            </ul>
        </div>
    </div>
</header>