<!DOCTYPE html>
<html lang="pt-br">

<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- <meta name="theme-color" content="#9027b0" />  -->

    <title>Aqua Rio</title>

    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/build/arquivos/style.css">
</head>

<body class="landing-page">
    <div class="all">
        <!-- HEADER -->
        <header class="pageHeader">
            <div class="box-banner">
                <div class="title">
                    <h1>um mergulho único <br> no universo marinho</h1>
                </div>
                <div class="wrapper">
                    <div class="left">
                        <div class="logo">
                            <img src="../assets/build/arquivos/logo.png" alt="logo">
                        </div>    
                    </div>
                    <div class="right">
                        <div class="botao">
                            <img src="../assets/build/arquivos/logo.png" style="display: none;
                            float: left;
                            width: 90px;
                            position: absolute;
                            left: 40px;
                            top: 0;">
                            <button>COMPRE SEU BILHETE HOJE!</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER -->
        
        <div id="mainContent">
            <section class="first">
                <div class="wrapper">
                    <div class="left">
                        <img src="../assets/build/arquivos/p1.png" alt="">
                    </div>
                    <div class="right">
                        <h1>educação,
                        conservação
                        <br>e pesquisa.</h1>
                        <p>são os pilares do maior aquário marinho da américa do sul</p>
                        <p class="dot">. . .</p>
                    </div>
                </div>
            </section>

            <section class="second">
                <div id="top-image">
                        <!-- <div class="bg">
                            <img src="../assets/build/arquivos/sect-2.png" alt="">
                        </div> -->
                        
                </div>
                <div class="wrapper">
                    <div class="sub">
                        <div class="video">
                            <iframe  src="https://www.youtube.com/embed/5ptD0s66uFY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>    
                    </div>
                    
                    
                </div>
            </section>

            <section class="third">
                <div class="wrapper">
                    <div class="titulos">
                        <h1>Uma experiência inesquecível</h1>
                        <h2>no AquaRio você encontra:</h2>
                    </div>
                    <div class="sub-third">
                        <div class="left">
                            <img src="../assets/build/arquivos/p2.png" alt="">
                        </div>
                        <div class="right">
                            <h2>tanque ocêanico de</h2>
                            <h1>4.000.000</h1>
                            <h2>Litros de água</h2>
                            <p class="dot">. . .</p>
                        </div>    
                    </div>
                    
                </div>
            </section>

            <section class="fourth">
                <div class="wrapper">
                    <div class="left">
                        <h1>5.000</h1>
                        <h2>animais e cerca de 350
                        espécies distribuídos
                        por todo o circuito</h2>
                        <p class="dot">. . .</p>
                    </div>
                    <div class="right">
                        <img src="../assets/build/arquivos/p3.png" alt="">
                    </div>
                </div>
            </section>

            <section class="fifth">
                <div class="wrapper">
                    <div class="left">
                        <img src="../assets/build/arquivos/p4.png" alt="">
                    </div>
                    <div class="right">
                        <h1>28 tanques</h1>
                        <h2>com peixes de diversos oceanos</h2>
                        <p class="dot">. . .</p>
                    </div>
                </div>
            </section>

            <section class="sixth">
                <div class="wrapper">
                    <div class="left">
                        <h1>exposições incríveis</h1>
                        <h2>animais e cerca de 350
                        espécies distribuídos
                        por todo o circuito</h2>
                        <p class="dot">. . .</p>
                    </div>
                    <div class="right">
                        <img src="../assets/build/arquivos/p5.png" alt="">
                    </div>
                </div>
            </section>

            <section class="seventh">
                <div class="wrapper">
                    <div class="title">
                        <h1>mais de <strong>2.000.000</strong> de pessoas
                        já visitaram o <span>A</span>qua<span>R</span>io</span> em 2 anos e recomendam a experiência!</h1>
                    </div>
                </div>
            </section>
            
        </div><!-- /mainContent-->
        <div class="voltar">
            
        </div>
        <!-- FOOTER -->
        <footer>
            <div class="pageFooter">
                <img src="../assets/build/arquivos/footer.png">
                <div class="voltar">
                    
                    <button class="goto-top">Voltar ao topo</button>
                </div>
            </div>
        </footer>

        <!-- FOOTER -->

    </div><!--/all-->
    
    <script  src="https://code.jquery.com/jquery-3.2.1.min.js"  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            $(window).scroll(function() {
             if ($(this).scrollTop() > 200) {
                    $('.goto-top').fadeIn();
                    $('.botao').addClass('botaoFlutua');
                    $('.botao button').addClass('botaoFlutuante');
                    $('.botao img').show();
                } else {
                    $('.goto-top').fadeOut();
                    $('.botao').removeClass('botaoFlutua');
                    $('.botao button').removeClass('botaoFlutuante');
                    $('.botao img').hide();
                }   
            })

            $(".goto-top").on('click', function () {
                $("html, body").animate({scrollTop: 0}, 400);
            });

            

            var moveForce = 20; // max popup movement in pixels
            var rotateForce = 10; // max popup rotation in deg
            var negativeMargin = 40;

            $(document).mousemove(function(e) {
                var docX = $(document).width();
                var docY = $(document).height();
                
                var moveX = (e.pageX - docX/2) / (docX/2) * -moveForce;
                var moveY = (e.pageY - docY/2) / (docY/2) * -moveForce;
                
                var rotateY = (e.pageX / docX * rotateForce*2) - rotateForce;
                var rotateX = -((e.pageY / docY * rotateForce*2) - rotateForce);
                
                $('#top-image')
                    .css('left', (moveX - negativeMargin) +'px')
                    .css('top', (moveY - negativeMargin) +'px')
                    .css('transform', 'rotateX('+rotateX+'deg) rotateY('+rotateY+'deg)');
            });
        });

        
    </script>
    <!-- <script src="../assets/build/arquivos/main.min.js"></script> -->
</body>
</html>