/* ==========================================================================
   Home
   ========================================================================== */
body.landing-page {
	position: relative;
	.pageHeader {
		height: 890px;	
		.box-banner {
			position: relative;
			width: 100%;
			height: 890px;			
			background: url('aqua-banner.png') center no-repeat;
			background-size: cover;
			.left {
				@include span-columns(6);
				text-align: center;
				@include media($mobile) {
					@include span-columns(2);
				}
			}
			.right {
				@include span-columns(3);
				text-align: center;
				@include media($mobile) {
					@include span-columns(2);
				}
			}
		}
		.title {
			@include span-columns(10);
			@include shift(1);
			padding: 230px 0;
			h1 {
				color: $color1;
				font-family: $primaryFont;
				font-size: rem(72px);
				text-align: center;
				line-height: 60px;
				text-transform: uppercase;
			}
			@include media($tablet) {
				h1 {
					font-size: rem(56px);
				}
			}
			@include media($mobile) {
				h1 {
					font-size: rem(22px);
					line-height: 28px;
				}
			}
		}
		.botao {
			button {
				background: $color2;
				border-bottom: 9px solid $color3;
				color: $color1;
				font-family: $primaryFont;
				font-size: 33px;
			    border-top: 0;
			    border-left: 0;
			    border-right: 0;
			    border-radius: 30px;
			    padding: 20px;
			    line-height: 34px;
			    cursor: pointer;

			}
			@include media($tablet) {
				button {
					font-size: rem(26px);
				}
			}
			@include media($mobile) {
				button {
					font-size: rem(11px);
				}
			}
		}
	}




	.first {
		.left {
			@include span-columns(6);
			img {
				width: 100%;
				height: auto;
				padding: 40px;
			}
			@include media($mobile) {
				@include span-columns(4);
			}
		}
		.right {
			@include span-columns(6);
			padding: 40px;
			@include media($mobile) {
				@include span-columns(4);
				h1 {
					font-size: 38px;
				}
				p {
					font-size: 14px;
				}

			}
			h1 {
				font-size: 70px;
				color: $color4;
				text-transform: uppercase;
				text-align: center;
				line-height: 70px;
			}
			p {
				font-size: 24px;
				color: black;
				text-align: center;
				text-transform: uppercase;
				font-family: $secondaryFont;
			}
			.dot {
				font-family: $secondaryFont;	
			    font-size: 40px;
				font-weight: bold;
				text-align: center;
				color: $color4;
			}
			@include media($tablet) {
				h1 {
					font-size: 54px;
				}
				p {
					font-size: 18px;
				}
			}
			
		}
	}



	.second {
		position: relative;
		height: 526px;
		#top-image {
			position: absolute;
			  width: 100%;
			  height: 100%;
			  top: -20px;
			  background: url('sect-2.png') center center no-repeat;
			  background-size: cover;

		}
		.bg {
			@include span-columns(12);
			img {
				width: 100%;
				height: auto;
			}
		}
		.video {
			position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		    margin: auto;
		    width: 940px;
		    height: 520px;
		    iframe {
		    	width: 100%;
		    	height: 100%;
		    }
		    @include media($tablet) {
		    	width: 640px;
		    	height: 320px;
		    }
		}
	}




	.third {
		.titulos {
			height: 158px;
			margin-top: 50px;


		}
		h1 {
			font-size: 42px;
			font-family: $secondaryFont;
			color: black;
			text-transform: uppercase;
			text-align: center;
			@include media($tablet) {
				font-size: 32px;
			}
			@include media($mobile) {
				font-size: 24px;	
			}
		}
		h2 {
			font-size: 60px;
			font-family: $primaryFont;
			color: $color5;
			text-transform: uppercase;
			text-align: center;
			@include media($tablet) {
				font-size: 46px;
			}
			@include media($mobile) {
				font-size: 32px;	
			}
		}
		.sub-third {
			height: 393px;
		}
		.left {
			@include span-columns(6);
			img {
				width: 100%;
				height: auto;
				padding: 40px;
			}
			@include media($mobile) {
				@include span-columns(4);
			}
		}
		.right {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
				h1 {
					font-size: 43px;
				}
				h2 {
					font-size: 13px;
				}
			}
			display: flex;
		    height: 393px;
		    flex-direction: column;
		    justify-content: center;
			h1{
				font-size: 80px;
				font-family: $primaryFont;
				color: $color4;			
				padding: 0;
				line-height: 80px;
				@include media($tablet) {
					font-size: 62px;
				}
			}
			h2{
				font-size: 24px;
				font-family: $secondaryFont;	
				color: black;
				margin: 0;		
				@include media($tablet) {
					font-size: 18px;
				}
			}
			.dot {
				font-family: $secondaryFont;	
			    font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
		}

	}



	.fourth {
		height: 393px;
		@include media($mobile) {
			.wrapper {
				height: 420px;
				display: flex;
				flex-direction: column-reverse;
				// .left, .right {
				// 	@include span-columns(4);		
				// }				
			}
		}
		.left {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
				h1 {
					font-size: 43px;
				}
				h2 {
					font-size: 13px;
				}
			}
			text-align: center;
			text-transform: uppercase;
			display: flex;
		    height: 393px;
		    flex-direction: column;
		    justify-content: center;
			h2{
				font-size: 24px;
				font-family: $secondaryFont;	
				color: black;
				margin: 0;	
				@include media($tablet) {
					font-size: 18px;
				}
			}
			h1{
				font-size: 80px;
				font-family: $primaryFont;
				color: $color4;			
				padding: 0;
				line-height: 80px;
				@include media($tablet) {
					font-size: 62px;
				}
			}
			.dot {
				font-family: $secondaryFont;	
			    font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
		}
		.right {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
			}
			
			img {
				width: 100%;
				height: auto;
				padding: 40px;
			}
		}
	}

	.fifth {
		
		h1 {
			font-size: 42px;
			font-family: $secondaryFont;
			color: black;
			text-transform: uppercase;
			text-align: center;
			@include media($tablet) {
				font-size: 46px;
			}
		}
		h2 {
			font-size: 60px;
			font-family: $primaryFont;
			color: $color5;
			text-transform: uppercase;
			text-align: center;
			@include media($tablet) {
				font-size: 32px;
			}

		}
		.left {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
			}
			img {
				width: 100%;
				height: auto;
				padding: 40px;
			}
		}
		.right {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
				height: 130px;
			}
			text-align: center;
			text-transform: uppercase;
			display: flex;
		    height: 393px;
		    flex-direction: column;
		    justify-content: center;
			h1{
				font-size: 80px;
				font-family: $primaryFont;
				color: $color6;			
				padding: 0;
				line-height: 80px;
				@include media($tablet) {
					font-size: 62px;
				}
			}
			h2{
				font-size: 24px;
				font-family: $secondaryFont;	
				color: black;
				margin: 0;		
				@include media($tablet) {
					font-size: 18px;
				}
			}
			.dot {
				font-family: $secondaryFont;	
			    font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
		}

	}



	.sixth {
		
		@include media($mobile) {
			.wrapper {
				display: flex;
				flex-direction: column-reverse;
				justify-content: center;
				.left, .right {
					@include span-columns(4);		
				}
			}
		}
		.left {
			@include span-columns(6);
			
			text-align: center;
			text-transform: uppercase;
			text-align: center;
			text-transform: uppercase;
			display: flex;
		    height: 393px;
		    flex-direction: column;
		    justify-content: center;
			h2{
				font-size: 24px;
				font-family: $secondaryFont;	
				color: black;
				margin: 0;	
				@include media($tablet) {
					font-size: 18px;
				}
			}
			h1{
				font-size: 80px;
				font-family: $primaryFont;
				color: #ffb71d;			
				padding: 0;
				line-height: 80px;
				@include media($tablet) {
					font-size: 62px;
					line-height: 60px;
				}
			}
			.dot {
				font-family: $secondaryFont;	
			    font-size: 40px;
				font-weight: bold;
				text-align: center;
			}
		}
		.right {
			@include span-columns(6);
			@include media($mobile) {
				@include span-columns(4);
			}
			img {
				width: 100%;
				height: auto;
				padding: 40px;
			}
		}
	}


	.seventh {
		
		h1 {
			text-align: center;
			padding: 0 120px;
			font-size: 39px;
			font-family: $secondaryFont;
			text-transform: uppercase;
			line-height: 60px;
			@include media($tablet) {
				font-size: 32px;
			}
			strong {
				font-family: $primaryFont;
				color: $color5;
				font-size: 55px;
				@include media($tablet) {
				font-size: 46px;
			}
			}
			span {
				font-size: 43px;
				@include media($tablet) {
					font-size: 32px;
				}
			}
		}
	}

	.pageFooter {
		// background: url('footer.png') no-repeat center;
		height: 552px;
	    background-size: cover;
		bottom: 0;
		margin-top: 50px;
		img{
			width: 100%;
			height: auto;
			position: absolute;
		}
		.voltar {
			position: fixed;
			bottom: 0;
		    width: 40%;
		    margin-left: 30%;
		    margin-right: 30%;
		    text-align: center;
		}
		button {
			height: 70px;
		    width: 209px;
		    border-radius: 30px;
		    border-bottom-right-radius: 0;
		    border-bottom-left-radius: 0;
		    font-size: 20px;
		    background: #ececec;
		    cursor: pointer;
		    font-family: $primaryFont;
		    font-weight: 400;
			text-transform: uppercase;
			color: #787878;

		}
	}
	.botao {
	    -webkit-box-shadow: 1px 50px 110px -12px rgba(0,0,0,0.43);
	    -moz-box-shadow: 1px 50px 110px -12px rgba(0,0,0,0.43);
	    box-shadow: 1px 50px 110px -12px rgba(0,0,0,0.43);
	}
	.botaoFlutua {
		position: fixed;
	    right: 0;
	    z-index: 9999;
	    width: 100%;
	    height: 86px;
	    text-align: right;
	    background: white;
	    padding: 30px 0;
	    top: 0;
	    button {
			font-size: 19px;
	    }
	}

	.botaoFlutuante {
		font-size: 19px !important;
	    position: absolute !important;
	    top: 10px !important;
	    right: 10px !important;
	    padding: 11px !important;
	}

}